.Task {
    background: whitesmoke;
    box-sizing: border-box;
    padding: 20px 20px 20px 40px;
    position: relative;
    margin: 10px;
    text-align: left;
}
.Todo_complete {
    background: aliceblue;
}
.Task__status,
.Task__edit {
    cursor: pointer;
}
.Task__status,
.Task__title,
.Task__edit{
    display: inline-block;
    vertical-align: middle;
}
.Task__status {
    position: relative;
    top: -8px;
}
.Task__title {
    font-size: 20px;
    font-style: italic;
    padding-left: 20px;
}
.Task__edit {
    height: 20px;
    position: absolute;
    right: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
}