.progressBar {
    display: flex;
    align-items: center;
    height: 10px;
    width: 100%;
    min-width: 4em;
    border: solid 2px lightgray;
    position: relative;
}
.progressBar__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to top, #090, #0a0, #0c0, #0a0);
    transition: width .5s linear;
    z-index: -1;
}