.btn {
    border: none;
    background: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
    padding: 8px 12px;
    outline: 0;
    vertical-align: middle;

    &:hover {
        opacity: 0.5;
    }

    &:disabled {
        color: #ffffff;
        background: grey;
    }

    &_active {
        background: red;
    }

    &_icon {
        background: transparent;

        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

