body {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0;
}

.Title {
    font-size: 25px;
    font-style: italic;
}
.Todo__creatingItems {
    padding: 20px 0;
}
.BoxContent {
    border: 1px dashed grey;
    box-sizing: border-box;
    height: 500px;
    overflow-y: scroll;
}