body {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0;
}

.Title {
    display: inline-block;
    font-size: 25px;
    font-style: italic;
    padding: 20px 0;
    text-decoration: none;
}
.active {
    color: black;
    text-decoration: none;
}
.Header__creatingItems {
    padding: 20px 0;
}
.BoxContent {
    border: 1px dashed grey;
    box-sizing: border-box;
    height: 500px;
    overflow-y: scroll;
}
.Grid {
    font-size: 0;
    margin: 0 -10px;
}
.Grid__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    width: 50%;
    text-align: center;
}
.Grid__item_70 {
    width: 70%;
}
.Grid__item_30 {
    width: 30%;
}
.edit {
    display: inline-block;
    background: url("../../img/edit.jpg") no-repeat center;
    background-size: 80%;
    height: 100%;
    width: 100%;
}