body {
    font-style: italic;
}
.Grid {
    font-size: 0;
    margin: 0 -10px;
}
.Grid__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    width: 50%;
    text-align: center;
}
.Grid__item_70 {
    width: 70%;
}
.Grid__item_30 {
    width: 30%;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: 0;
    height: 100%;
    width: 100%;
}
.btn_edit {
    background: url('../img/edit.jpg') no-repeat center;
    background-size: 80%;
}
.btn_confirm {
    background: url('../img/confirm.png') no-repeat center;
    background-size: 100%;
}
.btn_close {
    background: url('../img/cancel.png') no-repeat center;
    background-size: 90%;
}
.btn_delete {
    border: none;
    background: url("../img/delete.png") no-repeat center;
    background-size: 100%;
}
.btn_transfer {
    border: none;
    background: url("../img/arrow.png") no-repeat center;
    background-size: 100%;
}
.btn_child {
    background: transparent;
    border: none;
    font-size: 16px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.btn_close {
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
}
.btn_addCategory {
    background: transparent;
    border: none;
    font-size: 20px;
    margin-right: 10px;
    line-height: 12px;
}
.btn_active {
    border:1px solid #00aa00;
    color: red;
}