.CategoryItem {
    box-sizing: border-box;
}
.CategoryItem__body {
    border-left: 2px solid transparent;
    background: whitesmoke;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin: 10px;
}
.CategoryItem_selected {
    border-left: 2px solid red;
}
.CategoryItem__left,
.CategoryItem__right {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    width: 50%;
}
.CategoryItem__left {
    text-align: left;
}
.CategoryItem__left_padd {
    padding-left: 27px;
}
.CategoryItem__right {
    position: relative;
    text-align: right;
}
.CategoryItem__edit,
.CategoryItem__confirm,
.CategoryItem__close,
.CategoryItem__delete,
.CategoryItem__child,
.CategoryItem__name,
.CategoryItem__addCategory,
.CategoryItem__transfer {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.CategoryItem__name {
    background: transparent;
    border: none;
    font-size: 20px;
    margin: 0;
    width: 140px;
    outline: 0;
}
.CategoryItem__name_active {
    border: 1px dashed grey;
}
.CategoryItem__child,
.CategoryItem__addCategory{
    margin: 0;
}
.CategoryItem__modal {
    position: absolute;
}
