.Input {
    display: inline-block;
    position: relative;
}
.Input__input {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    outline: 0;
    padding: 0px 25px 0 5px;
    vertical-align: middle;
}
.Input__error {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    left: 40px;
    bottom: 0;
}